#innhold{
	clear:both;
	margin-top:10px;
}
#minnhold{

	float: left;
}
.gridwrapper{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-column-gap: 1em;
}
header{
	grid-column: 1/4;
	grid-row: 1;
}
nav{
	grid-column:1/4;
	grid-row:2;
}
main{
	grid-column: 1/3;
	grid-row:3;
}
aside{
	grid-column: 3;
	grid-row: 3
}
footer{
	grid-column: 1/4;
	grid-row: 4;
}
.flexcontainer{
	display: flex;
   }
.git{
	flex: 5;
	order: 1;
	border:1px #ccc solid;
	padding:15px;
	margin-top: 10px;
	margin: 10px;
}
.mediatyper{
	flex: 5;
	order: 2;
	border:1px #ccc solid;
	padding:15px;
	margin-top: 10px;
	margin:10px;
}
.layouts{
	flex: 5;
	order: 3;
	border:1px #ccc solid;
	padding:15px;
	margin-top: 10px;
	margin: 10px;
}
/*Bilde i artikkel*/
article img{
	float: right;
	margin: 15px;
	width: 220px;
	margin-right: 100px;
}
/*Tekst i artikkel*/
article p{
}
/*Text*/
main article p{
	font-size: 17px;
}
/*Knapp*/
article a{
	background-color: black;
	border-style: solid;
	text-decoration: none;
	padding: 5px;
	color: white;	
}
/*Margin mellom artikkler*/
article{
	margin-bottom: 50px;
}
/*"OBLIG1"*/
h1{
	padding: 18px 0;
	line-height: 40px;
	font-size: 26px;
	text-align: center;
	background-image: url("bilder/design.jpeg");
}

body{
	font-family: Arial, Helvetica, sans-serif;
	width:960px;
	margin: 0 auto;
}
/*Meny*/
nav{
	height: 40px;
	background:#cccccc;
}
nav ul {
	list-style: none;
	margin: 0 auto;
	
}
nav ul li{
	display: inline-block;
	width: 220px;
}
nav ul li a{
	margin-right: 10px;
	display:  block;
	color: #111;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	width: 100px;
}
nav ul li a:hover{
	text-decoration: underline;
}
nav ul li ul{
	position: absolute;
	display: none;
}
nav ul li ul li{
	display: block;
	border-style: none;
}
nav ul li ul li a{
	text-align: left;
	line-height: 40px;
	display: block;
	margin: 0 0 0 4px;
}
/*Side kolonne*/
aside{
	background: #ccc;
	margin-top: 10px;
	margin-bottom: 50px;
}
footer{
	color: #eeeeee;
	clear: both;
	text-align: center;
	padding: 15px;
	border-top:1px solid #dddddd;
	background:#777777;
	height: 100px;
}